.storage-list {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	border: 1px solid var(--bg-color-card);
	border-radius: 10px;
	padding: 8px;
}

.storage-item {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;

	margin-bottom: 12px;

	background-color: var(--bg-color-card);
	border-radius: 5px;
	padding: 8px;
	gap: 8px;
}

.storage-item span.key {
	font-weight: bold;
	width: 100%;
	margin-bottom: 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.storage-item span.value {
	color: #555;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.delete-button {
	left: calc(100% - 60px);
	position: relative;
	width: 60px;

	background-color: #f44336;
	color: white;
	border: none;
	padding: 4px 8px;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
}

.delete-button:hover {
	background-color: #d32f2f;
}
